.footer {
    background-color: white; /* Bijela pozadina */
    color: black; /* Crni tekst */
    text-align: center; /* Centrira tekst horizontalno */
    padding: 20px 0; /* Dodaje padding iznad i ispod teksta */
    font-size: 0.8rem; /* Osnovna veličina fonta */
    border-top: 1px solid #ddd; /* Linija na vrhu za odvajanje */
    display: flex;
    flex-direction: column; /* Postavljanje elemenata u stupac */
    justify-content: center; /* Vertikalno centriranje */
    align-items: center; /* Horizontalno centriranje */
    min-height: 150px; /* Osigurava da footer ima dovoljnu visinu */
  }
  
  .footer p {
    margin: 10px 0; /* Ostavlja prostor između paragrafa */
    font-size: 0.8rem;
  }
  
  .footer p:last-child {
    margin-bottom: 0; /* Uklanja donju marginu za zadnji paragraf */
  }
  
  @media (max-width: 768px) {
    .footer {
      font-size: 0.4rem; /* Smanjuje veličinu fonta na manjim ekranima */
    }
  }
  