* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Glavni kontejner */
.container-home {
  width: 100%;
  height: 100vh; 
  background-image: url('../assets/1919409.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
}

/* Glavni sadržaj */
.row {
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: white;
}

.home-naslov {
  font-size: 6rem ; 
  margin-bottom: 20px;
  color: white;
}

p {
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 500px;
  margin-bottom: 30px;
}

.rezerviraj_button{
  width: 300px;
  height: 60px;
  padding: 12px;
  background: #04AA6D; 
  color: white;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #037a4d; 
}

/* Responzivnost */
@media (max-width: 768px) {
  .row {
      align-items: center;
      text-align: center;
  }

  h1 {
      font-size: 3rem; 
  }

  p {
      font-size: 1rem;
      max-width: 90%; 
  }

  button {
      width: 180px;
      padding: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 2.5rem; 
  }

  p {
      font-size: 0.9rem;
  }

  button {
      width: 160px;
  }
}
