.reservation-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.teren-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

.days-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 10px; 
  margin-bottom: 20px;
}

.day-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 45%;
}

.day-button:hover {
  background-color: #037a4d;
}

.time-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.time-button:hover {
  background-color: #037a4d;
}

.time-button.disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .reservation-page {
    padding: 15px;
  }

  .reservation-title {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }

  .teren-image {
    width: 100%;
    height: auto;
  }

  .days-container {
    justify-content: center;
  }

  .day-button {
    width: 100%; 
    margin-bottom: 10px;
  }

  .time-button {
    width: 100%;
    font-size: 1rem;
  }
}
