* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
  }
  
  /* FAQ Container */
  .faq-container {
    margin: 60px auto;
    max-width: 800px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Title */
  .faq-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: black;
  }
  
  /* FAQ Header (Clickable area for each FAQ) */
  .faq-header {
    cursor: pointer;
    padding: 15px;
    background-color: #cbcdcc;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }
  
  .faq-header:hover {
    background-color: #6e706f;
    color: #d5d7d7;
  }
  
  /* Content inside the accordion */
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 15px; /* Ograniči padding kad je zatvoreno */
    margin-bottom: 10px;
    background-color: transparent; /* Uklanjamo pozadinsku boju */
    border: none; /* Uklanjamo okvir */
  }
  
  /* When content is visible (accordion is open) */
  .content.open {
    max-height: 500px; /* Postavi dovoljno veliku visinu za sadržaj */
    padding: 10px 15px; /* Očisti padding kada je otvoreno */
    transition: max-height 0.3s ease-in, padding 0.3s ease-in;
  }
  
  /* Stil za tekst unutar otvorenog dijela */
  .content p {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 1rem;
    color: black;
  }
  