* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Glavni kontejner */
  .container {
    width: 100%;
    height: 100vh; /* Osigurava da kontejner zauzima cijelu visinu ekrana */
    background-image: url('../assets/1919409.jpg'); /* Dodaj pozadinsku sliku */
    background-size: cover; /* Slika pokriva cijelu površinu */
    background-position: center; /* Centriraj sliku */
    background-repeat: no-repeat; /* Spriječi ponavljanje slike */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
  }

  /* Glavni sadržaj */
  .row {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: white;
  }
  
  h1 {
    font-size: 6rem; /* Veličina naslova */
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 500px; /* Ograničenje širine teksta radi boljeg izgleda */
    margin-bottom: 30px;
  }
  
  button {
    width: 310px;
    height: 60px;
    padding: 12px;
    background: #04AA6D; /* Zelena boja, ista kao u rezervaciji */
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #037a4d; /* Tamnija zelena na hover */
}
  
  /* Responzivnost */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      
    }
  
    nav ul {
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;
    }
  
    .row {
      align-items: center;
      text-align: center;
    }
  
    h1 {
      font-size: 3rem; /* Smanjuje veličinu naslova na manjim ekranima */
    }
  
    p {
      font-size: 1rem;
      max-width: 90%; /* Tekst zauzima više prostora na manjim ekranima */
    }
  
    button {
      width: 180px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 2.5rem; /* Dodatno smanjenje naslova za vrlo male ekrane */
    }
  
    p {
      font-size: 0.9rem;
    }
  
    button {
      width: 160px;
    }
  }
  